.item-toggle {
    position: fixed;
    bottom: 65px;
    right: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--orange); 
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease, display 0.3s ease-in-out;
    display: inline-block;
    border: solid 3px var(--orangeD);
}

.item-toggle:hover {
    background-color: var(--orangeD);
    transform: translateY(-5px);
    transition: background-color .2s, transform .2s, color .2s;
    border: solid 3px var(--dark-orange);
}

.item-toggle:active {
    transform: var(--clicky);
    border: solid 3px var(--dark-orange);
}

.item-toggle i.switching {
  transform: rotate(180deg);
}